//GRAYS
$gray-05: #FAFAFA;
$gray-10: #F5F5F5;
$gray-20: #EEEEEE;
$gray-30: #E0E0E0;
$gray-40: #BDBDBD;
$gray-50: #9E9E9E;
$gray-60: #757575;
$gray-70: #616161;
$gray-80: #424242;
$gray-90: #212121;

// BLUES
$blue-05: rgba(8, 50, 81, 1);
$blue-10: rgba(19, 99, 193, 1);
$blue-20: rgba(1, 142, 173, 1);
$blue-30: rgba(40, 126, 225, 1);

