doctype html
html.en(lang='en')
  head
    title=title
    style(type='text/css').
      html, body {
        margin: 0;
        min-height: 300px;
        background: #EBF0F2;
      }
        /* layouts */
      .main-column {
        max-width: 700px;
        width: 700px;
        margin: 0 auto;
      }
        /* header */
      .header {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: #3678ae;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIwODkgNjkiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3NTU5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5OWZjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjA4OSIgaGVpZ2h0PSI2OSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(bottom, #275597 0%, #499fc5 100%);
        color: #fff;
        padding: 15px 0;
      }
      
      h1 h2 h3 {
        color: #fff;
      }
      
      .header a {
        color: #fff;
      }
        /* logo */
      .logo {
        background: url("//busbud-pubweb-assets.global.ssl.fastly.net/images/logos/fc7ed21.logo-post-60@2x.png") 0 0 no-repeat;
        background-size: 124px;
        width: 124px;
        height: 40px;
      }
      .logo a {
        display: block;
        height: 100%;
      }
      .logo a:hover {
        text-decoration: none;
      }
      .logo span {
        display: none;
      }
        /* hero */
      .hero-unit {
        background-repeat: no-repeat;
        background-color: #000;
        background-position: center bottom;
        background-size: cover;
        background-image: url("//busbud-pubweb-assets.global.ssl.fastly.net/images/homepage/c70405a.bolivia.jpg");
        box-shadow: 0 1px 0 #fff;
        padding: 60px 0 40px 0;
        margin-bottom: 80px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #fff;
        text-shadow: 0 2px 0 #555;
      }
      .hero-unit .slogan {
        font-weight: normal;
        font-size: 18px;
      }
        /* search form */
      .search-form {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.95);
        color: #293033;
        border-radius: 10px;
        background-clip: padding-box;
        box-shadow: 0px 0px 4px 0px #000;
        padding: 40px 80px 10px 80px;
        margin-bottom: 20px;
      }
      .search-form h1 {
        font-weight: normal;
        color: #fff;
        font-size: 32px;
        text-shadow: 0 1px 0 #fff;
        padding-bottom: 8px;
      }
      .search-form .error {
        color: #9d261d;
      }
      /* highlight results */
      .ui-autocomplete span.hl_results {
          background-color: #ffff66;
      }
       
      /* loading - the AJAX indicator */
      .ui-autocomplete-loading {
          background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
      }
       
      /* scroll results */
      .ui-autocomplete {
          max-height: 250px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
          /* add padding for vertical scrollbar */
          padding-right: 5px;
      }
       
      .ui-autocomplete li {
          font-size: 16px;
      }
       
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
          height: 250px;
      }
    script(src='http://use.typekit.net/pdu4jrt.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script(src='../routes/autocomplete.js')
    script(type='text/javascript' src='public/vendor/jquery/jquery.min.js')
    link(href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css', rel='stylesheet')
    link(href='//busbud-pubweb-assets.global.ssl.fastly.net/css/5f6c40d.main.css', rel='stylesheet')
    script.
      try{Typekit.load();}catch(e){}
      
    script(type='text/javascript').  
      var token = getToken();
      $.support.cors = true;
      
      function getToken()
      {
          $.ajax({
               type: "GET",
               url: "http://busbud-napi-prod.global.ssl.fastly.net/auth/guest",
               contentType: "application/json",
               crossDomain: true,
               success: function(data) {
                  return data['token'];
               }
          })
      }

      $(function() {
      $( "#search-view-from" ).autocomplete({
        source: function (request, response) {
            $.ajax({
               type: "GET",
               crossDomain: true,
               url: "http://busbud-napi-prod.global.ssl.fastly.net/search",
               headers: {"x-busbud-token": token},
               beforeSend: function (request)
               {
                  request.setRequestHeader("Access-Control-Request-Headers", "x-busbud-token");
                  request.setRequestHeader("Access-Control-Request-Method", "GET");
               },
               contentType: "application/json",
               data: {
                  q: request.term
               },
               success: function(data) {
        	      response($.map(data, function (item) {
                     return {
                        id: item.city_id,
                        label: item.full_name,
                        value: item.city_url
                     };
                  }));
               }
            });
      },
      minLength: 2,
      /*select: function(e, ui) {
        console.log ( 'Select function' );
        $("#").val(ui.item.title);
         }*/
      });
      });
   		   
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo
    #bd
      div
        .hero-unit
          .main-column
            .home-hero
              h1 Find a bus for your next trip
              // Form goes here
              h2 Now serving bus schedules for 10463 cities in 89 countries
              form(id='search-form' action='/search' method='POST' class='city-search-form')
               div(id='test')
               h3 Leaving from
               label(for='search-view-from' class='search-input')
                input(type='text', id='search-view-from', placeholder='Leaving from')
               h3 Going to
               label(for='search-view-to' class='search-input')
                input(type='text', id='search-view-to', placeholder='Going to')
               .search-cta
                a(tabindex='3', type='submit', class='city-search-button btn primary') Search 	
                 i(class='bb-icon icon-search')