doctype html
html.en(lang='en')
  head
    title=title
    style(type='text/css').
      html, body {
        margin: 0;
        min-height: 300px;
        background: #EBF0F2;
      }
      
      .main-column {
        max-width: 1000px;
        width: 1000px;
        margin: 0 auto;
      }

      .header {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: rgba(30, 131, 209, 0.95);
        color: #fff;
        padding: 15px 0;
      }
      
      h1 h2 h3 {
        color: #fff;
      }
      
      .header a {
        color: #fff;
      }

      .logo {
        background: url("//busbud-pubweb-assets.global.ssl.fastly.net/images/logos/fc7ed21.logo-post-60@2x.png") 0 0 no-repeat;
        background-size: 124px;
        width: 124px;
        height: 40px;
      }
      .logo a {
        display: block;
        height: 100%;
      }
      .logo a:hover {
        text-decoration: none;
      }
      .logo span {
        display: none;
      }

      .hero-unit {
        background-repeat: no-repeat;
        background-color: #000;
        background-position:  30% 64%;
        background-size: cover;
        background-image: url("//busbud-pubweb-assets.global.ssl.fastly.net/images/homepage/c70405a.bolivia.jpg");
        box-shadow: 0 1px 0 #fff;
        padding: 80px 0 40px 0;
        margin-bottom: 80px;
        font-family: Interstate,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
        font-weight: normal;
        color: #fff;
        text-shadow: 0 2px 0 #555;
      }
      
      .hero-unit .slogan {
        font-weight: normal;
        font-size: 18px;
      }

      .search-form {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.95);
        color: #293033;
        border-radius: 10px;
        background-clip: padding-box;
        box-shadow: 0px 0px 4px 0px #000;
        padding: 40px 80px 10px 80px;
        margin-bottom: 20px;
      }
      
      .search-form h1 {
        font-weight: normal;
        color: #fff;
        font-size: 32px;
        text-shadow: 0 1px 0 #fff;
        padding-bottom: 8px;
      }
      .search-form .error {
        color: #9d261d;
      }

      .ui-autocomplete span.hl_results {
          background-color: #ffff66;
      }
       
      .ui-autocomplete-loading {
          background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
      }
       
      .ui-autocomplete {
          max-height: 250px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
          /* add padding for vertical scrollbar */
          padding-right: 5px;
          color: rgba(30, 131, 209, 0.95);
      }
      
      .ui-menu .ui-menu-item{
          color:  #FFFFFF;
          background: rgba(30, 131, 209, 0.95);
          border-radius: 0px;
          
      }
       
      .ui-autocomplete li {
          font-size: 13px;
          color:White;
          background:#96B202;
          outline:none;
      }

       .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
       {
           background: rgba(30, 131, 209, .87) !important;
           color: white !important;
           border-radius:0;	
       }

      .city-search{
          color: #FFFFFF;  
          width: 22%;  
      }
      
      .city-search-button{
         
          float: left;
          height: 42px;
          width: 12%;
          font-family: Interstate,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
          color: #fff;
       }
              
      .city-search-button-noscript{
          background: #3798e2 !important;
          font-family: Interstate,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
          width: 12%;
          padding: 0px;
       }              
       
       .error {
           color: #D8000C;
           background-color: #FFBABA;
           border-style: solid;
           border-width: 1px;
           border-color: #ff0000;
           text-shadow: none;
       }
       
       .hidden {
           display: none;
       }
       
      * html .ui-autocomplete {
          height: 250px;
      }
      
    script(src='http://use.typekit.net/pdu4jrt.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    link(href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css', rel='stylesheet')
    link(href='//busbud-pubweb-assets.global.ssl.fastly.net/css/5f6c40d.main.css', rel='stylesheet')
    link(href='//busbud-pubweb-assets.global.ssl.fastly.net/css/be34938.homepage.css', rel='stylesheet')
    
    script.
      try{Typekit.load();}catch(e){}
      
    script(type='text/javascript').  
      var token;
      var is_from_selected;
      var is_to_selected
      is_from_selected = false;
      is_to_selected = false;
      $.support.cors = true;

      $(document).ready(function(){
          $("#search-button").show();
      });

      function getToken()
      {
          $.ajax({
               type: "GET",
               url: "http://busbud-napi-prod.global.ssl.fastly.net/auth/guest",
               contentType: "application/json",
               crossDomain: true,
               dataType: 'json',
               success: function(data) {
               console.log(data['token']);
                  token = data['token'];
               }
               })     
      }
      
      getToken();	
      
      $(function() {
      $( ".city-search" ).autocomplete({
        source: function (request, response) {
            $.ajax({
               type: "GET",
               crossDomain: true,
               url: "http://busbud-napi-prod.global.ssl.fastly.net/search",
               headers: {"x-busbud-token": token},
               beforeSend: function (request)
               {
                  request.setRequestHeader("Access-Control-Request-Headers", "x-busbud-token");
                  request.setRequestHeader("Access-Control-Request-Method", "GET");
                  request.setRequestHeader("x-busbud-token", token);  
               },
               
               contentType: "application/json",
               data: {
                  q: request.term
               },
               success: function(data) {
        	      response($.map(data, function (item) {
                     return {
                        id: item.city_id,
                        label: item.full_name,
                        value: item.full_name
                     };
                  }));
               }
            });
        },
        minLength: 2,
        select: function(e, ui) {

           if($(this).attr("id")=="search-view-from")
           {
              is_from_selected = true;
           }
           else if($(this).attr("id")=="search-view-to")
           {
              is_to_selected = true;
           }
         }
      });
      });
      
      function validateSearchForm()
      {
      	 if(is_from_selected == true && is_to_selected == true)
      	 {
      	 	 $("#search-form" ).submit();
      	 	 return true;
      	 }
      	 else
      	 {
             $(".error").show();
      	 }
      	 
      }
   		   
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo
    #bd
      div
        .hero-unit
          .main-column
            .home-hero
             .home-hero-2
              h1 Find a bus for your next trip
              // Form goes here
              h2 Now serving bus schedules for 10463 cities in 89 countries
              span(class='error hidden') You need to select a city in the list!
              form(id='search-form' action='/search' method='POST' class='city-search-form')
               label(for='search-view-from' class='search-input')
                div(class='tooltip-container')
                 div(class='tooltip') Leaving from
                i(class='bb-icon icon-location-arrow') 
                input(type='text', id='search-view-from', placeholder='Leaving from', class='city-search',name='SearchViewFrom')
               label(for='search-view-to' class='search-input')
                div(class='tooltip-container')
                 div(class='tooltip') Going to
                i(class='bb-icon icon-map-marker') 
                input(type='text', id='search-view-to', placeholder='Going to', class='city-search',name='SearchViewTo')
               noscript
                input(type='submit', id='submit-button' class='city-search-button-noscript btn', value='Search')
               div(id='search-button', class='hidden')
                a(tabindex='3', type='submit', class='city-search-button btn',onclick='validateSearchForm()') 	
                 i(class='bb-icon icon-search')  	
                 | Search            

               
               