doctype html
html.en(lang='en')
  head
    title Coding Challenge
    link(href='/styles/main.css', type='text/css', rel='stylesheet', media='all')
  body
    header.header
      .container
        .logo
          a(accesskey='1', href='/en/')
            img(src='/images/logo-post-60@2x.png' alt='Busbud')
    .hero
      .container
        .hero__headlines
          h1.hero__title Trouvez un bus pour votre prochain voyage
          h2.hero__sub-title Des horaires de bus en ligne pour 10463 villes dans 89 pays
        .hero__search-bar
          form.grid(id='homepage-search-form')
            .react-typeahead(data-name='home-typeahead' class='5/12' data-placeholder='Départ de' data-input-id='from' data-icon-class='fa fa-location-arrow' data-tabindex='1' data-autofocus='on')
            .react-typeahead(data-name='home-typeahead' class='5/12' data-placeholder='Aller à' data-input-id='to' data-icon-class='fa fa-map-marker' data-tabindex='2' data-autofocus='off')
            button(class='home-search-button 2/12' tabindex='3')
              i.fa.fa-search.home-search-button__icon
              span.home-search-button__text Rechercher
    script(src='/scripts/main.js')
