doctype html
html.en(lang='en')
  head
    title=title
    link(href='/styles/main.css', type='text/css', rel='stylesheet', media='all')
    script(src='http://use.typekit.net/pdu4jrt.js')
    script.
      try{Typekit.load();}catch(e){}
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo
    #bd
      div
        .hero-unit
          .main-column
            .search-form
              strong.slogan Now serving information between many places
              // Form goes here
              h1 Find three places
