doctype html
html.en(lang='en')
  head
    title=title_
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")

    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css")

    link(rel="stylesheet" href="main.css")

    each s in scripts
       script(src=s)

    style(type='text/css').
      html, body {
        margin: 0;
        min-height: 300px;
        background: #EBF0F2;
      }
        /* layouts */
      .main-column {
        max-width: 700px;
        width: 700px;
        margin: 0 auto;
      }
        /* header */
      .header {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: #3678ae;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIwODkgNjkiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3NTU5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5OWZjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjA4OSIgaGVpZ2h0PSI2OSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(bottom, #275597 0%, #499fc5 100%);
        color: #fff;
        padding: 15px 0;
      }
      .header a {
        color: #fff;
      }
        /* logo */
      .logo {
        background: url("http://d3dob2gxndc0tm.cloudfront.net/nogzip/images/sprites/76107f9.logo_header.png") 0 0 no-repeat;
        width: 124px;
        height: 40px;
      }
      .logo a {
        display: block;
        height: 100%;
      }
      .logo a:hover {
        text-decoration: none;
      }
      .logo span {
        display: none;
      }
        /* hero */
      .hero-unit {
        background-repeat: no-repeat;
        background-color: #000;
        background-position: center bottom;
        background-size: cover;
        background-image: url(http://d3dob2gxndc0tm.cloudfront.net/nogzip/images/homepage/f8513f3.buenos_aires.jpg);
        box-shadow: 0 1px 0 #fff;
        padding: 60px 0 40px 0;
        margin-bottom: 80px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #293033;
        text-shadow: 0 1px 0 #fff;
      }
      .hero-unit .slogan {
        font-weight: normal;
        font-size: 18px;
      }
        /* search form */
      .search-form {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.95);
        color: #293033;
        border-radius: 10px;
        background-clip: padding-box;
        box-shadow: 0px 0px 4px 0px #000;
        padding: 30px 80px 80px 80px;
        margin-bottom: 20px;
      }
      .search-form h1 {
        font-weight: normal;
        color: #293033;
        font-size: 32px;
        text-shadow: 0 1px 0 #fff;
        padding-bottom: 8px;
      }
      .search-form .error {
        color: #9d261d;
      }
    script(src='http://use.typekit.net/pdu4jrt.js')
    script.
      try{Typekit.load();}catch(e){}
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo

    #bd
      div
        .hero-unit
          .main-column
            .search-form
              strong.slogan Serving bus schedules for 4379 cities in 66 countries.	
              h1.guide Find a bus for your next trip.
              .input-group.typeahead.input-group-lg#departure_container
                  input#departure.form-control(type="text")

              .input-group.typeahead.input-group-lg#arrivals_container
                  input#arrivals.form-control(type="text")  
               button.search_button.btn.btn-default.btn-sm(type="button")
                  span.glyphicon.glyphicon-search
