doctype html
html.en(lang='en')
  head
    title=title_

    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="main.css")

    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
    each s in scripts
       script(src=s)
    script(src='http://use.typekit.net/pdu4jrt.js')
    script.
      try{Typekit.load();}catch(e){}
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo

    #bd
      div
        .hero-unit
          .main-column
            .search-form
              strong.slogan Serving bus schedules for <span class="busbud_blue">4379 cities</span> in <span class="busbud_blue">66 countries</span>.	
              h1.guide Find a bus for your next trip.
              .input-group.form-group.typeahead.input-group-lg#departure_container
                  span.location_marker.glyphicon.glyphicon-map-marker
                  input#departure.form-control(placeholder="FROM",type="text",autocomplete="off")

              .input-group.form-group.typeahead.input-group-lg#arrivals_container
                  span.location_marker.glyphicon.glyphicon-map-marker
                  input#arrivals.form-control(placeholder="TO",type="text",autocomplete="off")  
               button.search_button.btn.btn-custom.btn-sm(type="button")
                  span.glyphicon.glyphicon-search
