doctype html
html.en(lang='en')
  head
    title=title
    link(rel='stylesheet' href='/css/app.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo
    #bd
      div
        .hero-unit
          .main-column
            .search-form
              h1 Find a bus for your next trip
              span.slogan Now serving bus schedules for 10463 cities in 89 countries 
              #content
  script(type="text/jsx" src='/js/app.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.js')
