doctype html
html.en(lang='en')
  head
    title=title
    
    link(rel="stylesheet", type="text/css", href="css/foundation.css")
    link(rel="stylesheet", type="text/css", href="css/global.css")

    style(type='text/css').
      html, body {
        margin: 0;
        min-height: 300px;
        background: #EBF0F2;
      }

        /* header */
      .header {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: #3678ae;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIwODkgNjkiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3NTU5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5OWZjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjA4OSIgaGVpZ2h0PSI2OSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(bottom, #275597 0%, #499fc5 100%);
        color: #fff;
        padding: 15px 0;
      }
      .header a {
        color: #fff;
      }
        /* logo */
      .logo {
        background: url("http://dnls6ci2ykmn3.cloudfront.net/images/sprites/R-gQfJb/logo_header.png") 0 0 no-repeat;
        width: 124px;
        height: 40px;
      }
      .logo a {
        display: block;
        height: 100%;
      }
      .logo a:hover {
        text-decoration: none;
      }
      .logo span {
        display: none;
      }
        /* hero */
      .hero-unit {
        background-repeat: no-repeat;
        background-color: #000;
        background-position: center bottom;
        background-size: cover;
        background-image: url(http://dnls6ci2ykmn3.cloudfront.net/images/homepage/k9cPgTX/buenos_aires.jpg);
        box-shadow: 0 1px 0 #fff;
        padding: 60px 0 40px 0;
        margin-bottom: 80px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #293033;
        text-shadow: 0 1px 0 #fff;
      }
      .hero-unit .slogan {
        font-weight: normal;
        font-size: 18px;
      }
        /* search form */
      .search-form {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.95);
        color: #293033;
        border-radius: 10px;
        background-clip: padding-box;
        box-shadow: 0px 0px 4px 0px #000;
        padding: 40px 80px 10px 80px;
        margin-bottom: 20px;
      }
      .search-form h1 {
        font-weight: normal;
        color: #293033;
        font-size: 32px;
        text-shadow: 0 1px 0 #fff;
        padding-bottom: 8px;
      }
      .search-form .error {
        color: #9d261d;
      }

    script(src='http://use.typekit.net/pdu4jrt.js')
    script.
      try{Typekit.load();}catch(e){}


    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/foundation/modernizr.js")
    script(src="/js/foundation/foundation.min.js")

    script(src="/js/search.js")

  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo
    #bd
      div
        .hero-unit
          .main-column.row
            .search-form.columns.small-10.small-centered
              strong.slogan Now serving information between many places
              // Form goes here
              h1 Find three places

              form#search-form
                .row
                    #from.columns.small-12.medium-5.tight.from-column
                        div.tooltip
                        label Leaving from
                        input(type="text")
                        svg(viewBox="0 0 32 32")
                            g
                                path(d="M30,0c-0.341,0-0.662,0.085-0.943,0.236l-28,15C0.428,15.573,0,16.236,0,17c0,1.105,0.896,2,2,2h11v11c0,1.104,0.896,2,2,2c0.763,0,1.427-0.428,1.764-1.058l15-28C31.915,2.662,32,2.341,32,2C32,0.895,31.104,0,30,0z M16,26.016V18c0-1.105-0.895-2-2-2H5.984L27.557,4.443L16,26.016z")
                        ul.proposals

                    #to.columns.small-12.medium-5.tight.to-column
                        div.tooltip
                        label Going to
                        input(type="text")
                        svg(viewBox="0 0 128 128")
                            path(d="M64,4.7c-24.6,0-44.5,19.9-44.5,44.5c0,12.8,6.4,24.4,12.7,35.1C39.9,97.6,49.1,110,59.8,121c2.3,2.4,6.1,2.4,8.5,0c9.4-9.3,17.7-19.8,24.7-31c7.5-12.1,15.6-26.1,15.6-40.8C108.5,24.7,88.6,4.7,64,4.7z M64,75c-14.9,0-27-12.1-27-27s12.1-27,27-27S91,33,91,48S78.9,75,64,75z")
                        ul.proposals

                    .columns.small-12.medium-2.tight.submit-column
                        input(type="submit",value="Search")
                        
                    
