doctype html
html.en(lang='en')
  head
    title=title
    link(rel='stylesheet', href='/css/app.css')
    script(src='http://use.typekit.net/pdu4jrt.js')
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/typeahead.bundle.min.js')
    script(src='/js/controller.js')
    script.
      try{Typekit.load();}catch(e){}
  body
    .header
      .main-column
        img.logo(src='//busbud-pubweb-assets.global.ssl.fastly.net/images/logos/fc7ed21.logo-post-60@2x.png')
    .main-column
      .search-column
        h1 Find a bus for your next trip
        h3.strong Now serving bus schedules for 10463 cities in 89 countries
        // Form goes here
        form.main-form(action='submit' method='post')
          input(type='text', name='from', placeholder='Leaving from', required)  
          input(type='text', name='to', placeholder='Going to', required)  
          input(type='submit' value='Search')
        footer
          p Built by <a href='http://themoe.me'>Mohamed Adam Chaieb</a> as part of the Busbud coding challenge.