.Autocomplete {
  position: relative;
  height: 50px;
}

.Autocomplete-background {
  z-index: 10;
  background: #2186dc;

  transition: background .3s ease;
  .Autocomplete:hover &,
  &.is-focused {
    background: #2a8ee2;
  }
}

.Autocomplete-label {
  z-index: 11;
}

.Autocomplete-hint {
  z-index: 12;
}

.Autocomplete .react-autosuggest {
  z-index: 13;
}

.Autocomplete .react-autosuggest__suggestions {
  z-index: 14;
}

.Autocomplete-label,
.Autocomplete-hint {
  background: none;
  color: #8ec4ef;
}

.Autocomplete-background,
.Autocomplete-label,
.Autocomplete-hint,
.Autocomplete .react-autosuggest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@keyframes Autocomplete-labelPosition {
  0%   { top: 0; }
  100% { top: -30px; }
}

.Autocomplete-label.is-top {
  // Go up behind background
  z-index: 9;

  height: 30px;
  top: -30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  background: #074562;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  animation: Autocomplete-labelPosition .3s ease-out;
}

.Autocomplete-background,
.Autocomplete-label,
.Autocomplete-hint,
.Autocomplete-input {
  height: 50px;
}

.Autocomplete-label,
.Autocomplete-hint,
.Autocomplete-input {
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
  padding: 0 20px;

  // So text baseline is alligned accross these elements
  border-top: 1px solid transparent;
  // border-right: 1px solid transparent;
}

.Autocomplete-input {
  display: block;
  width: 100%;

  border: 0;
  border-top: 1px solid #75b6ed;
  // border-right: 1px solid #52a3e8;

  background: none;
  color: #fff;

  &:focus {
    // Disable default WebKit focus style
    outline: 0;
  }
}

.Autocomplete .react-autosuggest__suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Autocomplete .react-autosuggest__suggestion {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;

  padding: 0 20px;

  background: #2186dc;
  color: #fff;

  cursor: pointer;

  &--focused {
    background: #2a8ee2;
  }
}
