.SearchForm {
  // Leave room for input labels when on top
  margin-top: 30px;
  position: relative;

  background: #52a3e8;
}

.SearchForm-topLine {
  // Hack: make sure there is no gap between autocomplete input top borders
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #75b6ed;
}

.SearchForm-input {
  display: inline-block;
  vertical-align: middle;
  width: (400px - 1px);
  margin-right: 1px;
}

.SearchForm-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-image: none;
  text-decoration: none;
  border: none;

  width: 160px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  padding: 0 20px;

  border-top: 1px solid #8bc2ef;
  border-right: 1px solid #489ee6;
  background: #3795e4;
  color: #fff;

  transition: background .3s ease;
  &:hover,
  &:focus {
    background: lighten(#3795e4, 10%)
  }

  &:focus {
    // Disable default WebKit focus style
    outline: 0;
  }
}

.SearchForm-button i {
  font-size: 18px;
  margin-right: 10px;
}
