input {
  -webkit-border-radius: 5px !important;
     -moz-border-radius: 5px !important;
          border-radius: 5px !important;
}

input, textarea {
  background-color : #f2f2f2;
}

.busbud_blue{
  color:#3471a8;
}

#departure{
    border-radius:5px;
    padding-left:25px;
}

#arrivals{
    border-radius:5px;
    padding-left:25px;
}

.location_marker{
    color:gray;
    z-index: 1;
    margin-top: 8px;
    padding-left:6px;
    vertical-align: middle;
    position: absolute;
}

/*Typeahead CSS*/
.tt-cursor{
    background:#66afe9;
    color:white;
    cursor:pointer;
}

#departure_container{
    width:100%;
}

#arrivals_container{
    width:92%;
    float:left;
}

.search_button{
    width:7%;
    height:33px !important;
    font-size:1.2em;
    vertical-align:middle;
    height:34px;
    float:right;
}

.search_button span{
    font-size:16px;
}

.btn-custom {
  background-color: hsl(193, 75%, 25%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1786a5", endColorstr="#0f5a6f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1786a5), to(#0f5a6f));
  background-image: -moz-linear-gradient(top, #1786a5, #0f5a6f);
  background-image: -ms-linear-gradient(top, #1786a5, #0f5a6f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1786a5), color-stop(100%, #0f5a6f));
  background-image: -webkit-linear-gradient(top, #1786a5, #0f5a6f);
  background-image: -o-linear-gradient(top, #1786a5, #0f5a6f);
  background-image: linear-gradient(#1786a5, #0f5a6f);
  border-color: #0f5a6f #0f5a6f hsl(193, 75%, 22%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}
.guide{
    margin-top:10px;
    margin-bottom:10px;
}
	
.tt-query,.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    opacity:0.8 !important;
    border-radius:5px;
    padding-left:25px !important;
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    z-index:999;
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}      

.twitter-typeahead{
    width:100%;
}

.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px 10px 25px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}
