.header {
  background-color: $blue-busbud;
  box-shadow: 0 2px 10px rgba(#000, .2);
  color: #fff;
  height: 60px;
  position: relative;
  z-index: 1;

  @include mq(mobile) {
    height: 48px;
  }

  a {
    color: #fff;
  }
}
