.locale-buttons {
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;

  button {
    border: 0;
    background-color: transparent;
    margin: 0 0 0 20px;
    padding: 5px 15px;
    border-radius: 20px;
    outline: 0;
    font-size: .9em;
    transition: background-color .15s;

    &:hover,
    &.is-active {
      cursor: pointer;
      background-color: #1b94eb;
    }
  }
}
