.logo {
  position: absolute;
  top: 12px;
  left: 10px;

  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }

    img {
      max-width: 106px;
      max-height: 36px;
    }
  }
}
