// Fonts
$fa-font-path: '/bower_components/font-awesome/fonts';
$base-font-family: Interstate, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;

// Widths
$inuit-widths: 1, 12;

// Colors
$base-color: #292f33;
$active-color: #009abf;
$light-color: #8899a6;
